<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- 
            雙向綁定 https://youtu.be/i1ZAcjkSzKQ?t=92 
        -->
        <input type="text" v-model="num">
        <h1></h1>
        <!-- 
            事件綁定 https://youtu.be/i1ZAcjkSzKQ?t=162 
            v-on:click="num++" : click, then num plus 1
        -->
        <button v-on:click="num++">click like</button>
        <button v-on:click="num--">click dislike</button>
        <h1> {{name}} is beautiful, has {{num}} followers </h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        
  
    <!--
    TODO: fix this

    <script src="./node_modules/vue/dist/vue.global.js">  // NOTE this!!! we import vue.js via this
    //     // Vue intro : https://youtu.be/eK_lo6M7zWc?t=316
    </script>
    -->

    <script>
        // 1) ----------------------- 
        // vue 聲明式渲染
        let vm = new Vue({
            el: "#app", // NOTE!!! this is "el", but not "e1"
            data: {
                name: "Lynn",
                num: 1
            }
        });

        // 2) ----------------------- 
        // vue 雙向綁定, 模型變化, 視圖變化, 反之亦然
        // https://youtu.be/i1ZAcjkSzKQ?t=92
        // <input type="text" v-model="num">
        // <h1> {{name}} is beautiful, has {{num}} followers </h1>


        // 3) -----------------------
        // 事件處理: v-on (<button v-on:click="num++">click like</button>)

        // 4) -----------------------
        // v-xx: 指令

        // 5) -----------------------
        // STEPS: (in summary)
        //  step 1) (responsive) create vue instance, bind html element, render data to the template
        //  step 2) simplify above via command
        //  step 3) simplify above via method
    </script>
    
</body>
</html>