<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!--
    https://youtu.be/LWDM9xcS71w?t=865

    (雙向綁定)
    -->

    <div id="app">
        Programming language:
        <br/>
        <br/>
            <input type="checkbox" v-model="lang" value="java"> java<br/>
            <input type="checkbox" v-model="lang" value="go"> go<br/>
            <input type="checkbox" v-model="lang" value="scala"> scala<br/>
        <br/>
        Selected ones: {{lang.join(", ")}}
             
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <script>

        let vm = new Vue({
            el: "#app",
            data:{
                lang: []
            },
            methods:{

            }
        })

    </script>
</body>
</html>